In [1]:
import pandas as pd

In [2]:
edges = pd.read_csv("output/edges.csv")

output_edges = pd.DataFrame(columns=['Source', 'Target', 'count'])
 
for index, row in edges.iterrows():
    source = row['Source']
    targetMovie = row['Target']
    allOthersInThisMovie = edges[edges['Target'] == targetMovie]
    for i, other in allOthersInThisMovie.iterrows(): 
        output_edges = output_edges.append({'Source': source, 'Target': other['Source'], 'count': 1}, ignore_index=True)

In [3]:
output_edges['weight'] = output_edges.groupby(['Source', 'Target'])['count'].transform('sum')

In [5]:
cleaned = output_edges.drop_duplicates(subset=['Source', 'Target'])
cleaned = cleaned.drop(columns=['count'])

final_result = cleaned.copy()

for index, row in cleaned.iterrows():
    if final_result.index.contains(index): 
        inverse_edge = cleaned[(cleaned['Source'] == row['Target']) & (cleaned['Target'] == row['Source'])]
        final_result = final_result.drop(inverse_edge.index)


final_result.head()

/Users/michael/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: The 'contains' method is deprecated and will be removed in a future version. Use 'key in index' instead of 'index.contains(key)'
  import sys

,Source,Target,weight
1,http://www.wikidata.org/entity/Q25089,http://www.wikidata.org/entity/Q495549,1
3,http://www.wikidata.org/entity/Q2001,http://www.wikidata.org/entity/Q640929,1
4,http://www.wikidata.org/entity/Q2001,http://www.wikidata.org/entity/Q47087,1
6,http://www.wikidata.org/entity/Q56005,http://www.wikidata.org/entity/Q102124,1
7,http://www.wikidata.org/entity/Q56005,http://www.wikidata.org/entity/Q200405,1

In [6]:
final_result.head()
final_result.to_csv('output/actor-director-edges.csv', index=False, encoding='utf-8')

In [7]:
nodes = pd.read_csv("output/nodes.csv")
temp = nodes[nodes['type'] != 'MOVIE']
non_movie_nodes = temp.copy()
non_movie_nodes['year'] = temp['year'].astype(int)

cols = list(range(4,10))
non_movie_nodes_cleaned = non_movie_nodes.dropna(axis=1)

non_movie_nodes_cleaned.head()
non_movie_nodes_cleaned.to_csv('output/actor-director-nodes.csv', index=False , encoding='utf-8')

,ID,label,type,year,duration,comedy film,mystery film,thriller film,film based on literature,adventure film,...,historical film,war film,biographical film,LGBT-related film,flashback film,fantasy film,sports film,documentary film,children's film,trial film
0,http://www.wikidata.org/entity/Q1004531,Bullets Over Broadway,MOVIE,1994.0,98.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,http://www.wikidata.org/entity/Q25089,Woody Allen,DIRECTOR,1935.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://www.wikidata.org/entity/Q103474,2001: A Space Odyssey,MOVIE,1968.0,143.0,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,http://www.wikidata.org/entity/Q2001,Stanley Kubrick,DIRECTOR,1928.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://www.wikidata.org/entity/Q103569,Alien,MOVIE,1979.0,117.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False